<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>{{ post.title }}</mat-expansion-panel-header>
    <div>
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <div class="btn-container">
      <a [routerLink]="['/edit', post.id]" mat-stroked-button>Edit</a>
      <a routerLink="/delete" mat-stroked-button>Delete</a>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0">No posts yet!</p>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)">
</mat-paginator>
